html{
        height:100%;
        width:100%;

}

body{
        height:100%;
        width:100%;
        margin:0%;
        padding:0%;
        font-family: sans-serif;
       
        
}

.wrap{
        height:100%;
        width:100%;
  

}

.header{
        width:100%;
        height:10%;
      
        background-color: #e63946;
        
              color:#f1faee;
              display: flex;
              justify-content: center;
        
        align-items: center;
}


.main{
        height:85%;
        width:100%;

        display: flex
}

.section{
        width:80%;
        height:100%;
padding-right:2%;
        padding-left:2%;
      
    
        
}
.about{
      height:20%;
      width:100%;
    
        display: flex;

      flex-direction: column;
      
   

}
.gradient{
        color:white;
    
        background: linear-gradient(90deg, rgb(58,123,213) 0%, rgb(0,212,255) 100%);
        padding:1%;
}


.skills-section{
     width:100%;
     height:20%;
  
    
}





 .hobbies{

width:100%;
}
.hobbies h2{
        text-align: center;
}
.hobby{
        text-align: center;
}
/*.hobbies-list{
        list-style-type: none;
        display: flex;
        flex-direction: column;
       
       
}
.hobby{
        padding-top:5%;
        padding-bottom:5%;
} */

.projects{
        width:100%;
        height:20%;
    
     
}




.border{
        border-bottom: 1px solid black;
}
.aside{
        width: 25%;
        height:100%;
        background-color:#a9def9;
        display: flex;
        flex-direction: column;
        align-items: center;
     
      
}
.educations{
        height:20%;
        width:100%;

        
}

.education p{
        margin:0%;
}

.contacts{
        width:100%;
        height:16%;
        padding:3%;
        box-sizing: border-box;

      
      
  
}
.contacts h2{
padding:2%;
text-align: center;
margin: 0%;
}

.contact{
        margin:0%;
        padding:2%;
        color:black;
        text-align: center;

      
}
.profile-photo{
        width:100%;
        height:100%;
        

      
            border-radius:12%;
       
}
.image-container{
 
        width:70%;
        padding:2%;
        display:flex;
        justify-content:center;
        align-items:center;
}
.footer{
        width:100%;
        height:5%;

                background-color: #1d3557;
}


@media only screen and (max-width:425px)  {
      .contact{
        font-size: 14px;
        padding:0%;
        padding-top:2%;
        padding-right:2%;
      }  
      .aside{
        width: 62%;
}
.about{
        height:27%;
}
.about-title{
        margin: 0%;
}
.skills-section{
        height:15%;
}
.skills-section h3{
        margin-bottom: 1%;
}
.project h4{
        margin:0%;
}
.project-content{
        margin:0%;
        padding-top: 2%;
        padding-bottom: 2%;
}

.education h4{
        margin:0%;
}
.education p{
        padding-top:2%;
        padding-bottom:2%;
}
.education h5{
        margin:0%;
}
.contacts h2{
font-size: 18px;
padding:10px;
}
.hobbies h2{
        font-size: 18px;
        padding:10px;   
}

